[user]
	email = peter@polidoro.io
	name = Peter Polidoro
[pull]
	rebase = false
[core]
	editor = emacs
	excludesFile = ~/.gitignore_global
[sendemail]
  from = peter@polidoro.io
  smtpserver = smtp.dreamhost.com
  smtpserverport = 465
  smtpencryption = ssl
  smtpuser = peter@polidoro.io
	thread = no
	confirm = never
[credential]
  helper = store
[format]
	thread = shallow
